<?xml version="1.0"?>
<!--
    RoboticsLab, University Carlos III of Madrid

    Simple visualization of TEO's torso

    TODO: Review macros, properties and math to optimize the xacro file.
-->


<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="insert_visualization_waist_yaw" params="">
    <visual>
      <origin xyz="0 0 -0.001" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/waist-yaw.stl"/>
      </geometry>
      <material name="teoGray"/>
    </visual>
    <collision>
      <origin xyz="0 0 -0.001" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/waist-yaw.stl"/>
      </geometry>
    </collision>
  </xacro:macro>

  <xacro:macro name="insert_visualization_waist_pitch" params="">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/waist-pitch.stl"/>
      </geometry>
      <material name="teoGray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/waist-pitch.stl"/>
      </geometry>
      <material name="teoGray"/>
    </collision>
  </xacro:macro>

  <xacro:macro name="insert_visualization_torso" params="">
    <visual>
      <origin xyz="0 0 ${torso_link2}" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/torso.stl"/>
      </geometry>
      <material name="teoGray"/>
    </visual>
    <collision>
      <origin xyz="0 0 ${torso_link2}" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/torso.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.25486 ${torso_link2+chest_link2}" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/L-torso-shoulder.stl"/>
      </geometry>
      <material name="teoGray"/>
    </visual>
    <collision>
      <origin xyz="0 0.25486 ${torso_link2+chest_link2}" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/L-torso-shoulder.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.25486 ${torso_link2+chest_link2}" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/R-torso-shoulder.stl"/>
      </geometry>
      <material name="LightGrey"/>
    </visual>
    <collision>
      <origin xyz="0 -0.25486 ${torso_link2+chest_link2}" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/R-torso-shoulder.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.346" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/neck.stl"/>
      </geometry>
      <material name="LightGrey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.346" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/neck.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.434" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/head.stl"/>
      </geometry>
      <material name="LightGrey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.434" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/head.stl"/>
      </geometry>
    </collision>
  </xacro:macro>

  <xacro:macro name="insert_visualization_waist" params="">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/waist-base.stl"/>
      </geometry>
      <material name="teoBlack"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/waist-base.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.07336" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/waist-link.stl"/>
      </geometry>
      <material name="teoGray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.07336" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://teo_description/meshes/torso/waist-link.stl"/>
      </geometry>
    </collision>
  </xacro:macro>

</robot>
