<?xml version="1.0"?>                                                                                 
<!--                                                                                                  
                                                                                                      
  ROS xacro transmission macros used in the generation of TEO humanoid robot URDF using xacro                                               
                                                                                                      
  RoboticsLab, University Carlos III of Madrid                                                        
                                                                                                      
-->

<robot name="teo" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="limb_joint_simple_transmission" params="name side axis reduction" >
		<transmission name="${side}_${name}_${axis}_trans"> 
			<type>transmission_interface/SimpleTransmission</type> 
			<joint name="${side}_${name}_${axis}"/>
			<actuator name="${side}_${name}_${axis}_motor" > 
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>${reduction}</mechanicalReduction> 
			</actuator> 
		</transmission> 
	</xacro:macro> 

	<xacro:macro name="waist_joint_simple_transmission" params="axis reduction" >
		<transmission name="waist_${axis}_trans"> 
			<type>transmission_interface/SimpleTransmission</type> 
			<joint name="waist_${axis}" />
			<actuator name="waist_${axis}_motor" > 
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>${reduction}</mechanicalReduction> 
			</actuator> 
		</transmission> 
	</xacro:macro> 
</robot>
