<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="teo"/>

  <!-- Arguments for Gazebo World --> <!--Example: paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>


  <!-- Arguments for Spawn Robot -->
  <arg name="robot_initial_pose/x" default="0.0"/>
  <arg name="robot_initial_pose/y" default="0.0"/>
  <arg name="robot_initial_pose/z" default="0.0"/>
  <arg name="robot_initial_pose/roll" default="0.0"/>
  <arg name="robot_initial_pose/pitch" default="0.0"/>
  <arg name="robot_initial_pose/yaw" default="0.0"/>

  <!-- Arguments for Xacro -->
  <arg name="simple_vis" default="0" /> <!-- Visualization of TEO -->


  <!-- Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find teo_gazebo)/worlds/empty.world"/>
    <!--arg name="world_name" value="$(find teo_gazebo)/worlds/gas_station.world"/-->
    <!--arg name="world_name" value="$(find teo_gazebo)/worlds/kitchen_dining.world"/-->
    <!--arg name="world_name" value="$(find teo_gazebo)/worlds/drc_practice_block_wall.world"/-->
  </include>


  <!-- Spawn TEO -->
  <include file="$(find teo_gazebo)/launch/spawn_teo_platform.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="robot_initial_pose/x" value="$(arg robot_initial_pose/x)"/>
    <arg name="robot_initial_pose/y" value="$(arg robot_initial_pose/y)"/>
    <arg name="robot_initial_pose/z" value="$(arg robot_initial_pose/z)"/>
    <arg name="robot_initial_pose/roll" value="$(arg robot_initial_pose/roll)"/>
    <arg name="robot_initial_pose/pitch" value="$(arg robot_initial_pose/pitch)"/>
    <arg name="robot_initial_pose/yaw" value="$(arg robot_initial_pose/yaw)"/>
    <arg name="simple_vis" value="$(arg simple_vis)"/>
  </include>


  <!-- TEO Controllers -->
  <include file="$(find teo_control)/launch/joint_state_controller.launch"/>

  <include file="$(find teo_control)/launch/teo_effort_controllers.launch"/>

  <!-- <include file="$(find teo_control)/launch/teo_velocity_controllers.launch"/> -->

  <!-- <include file="$(find teo_control)/launch/teo_position_controllers.launch"/> -->


</launch>
